#include <zephyr/dt-bindings/usb-c/pd.h>

/*
&zephyr_udc0 {
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
 */

i2c_internal: &i2c2 {
    status = "okay";
    fusb: fusb302b@22 {
        compatible = "fcs,fusb302b";
        status = "okay";
        reg = <0x22>;
    };
};

&usart1{
    current-speed = <921600>;
};

/ {
    chosen {
        zephyr,shell-uart = &usart1;
    };

    fvbus: fusb302b-vbus {
        compatible = "fcs,fusb302b-vbus";
        fusb302b = <&fusb>;
    };

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port1: usbc-port@1 {
            compatible = "usb-c-connector";
            reg = <1>;
            tcpc = <&fusb>; // Type C Port Controller
            vbus = <&fvbus>;
            power-role = "sink";
            sink-pdos = <PDO_FIXED(9000, 100, 0)>;
        };
    };
};
