#include <zephyr/dt-bindings/usb-c/pd.h>
#include <zephyr/dt-bindings/comparator/stm32.h>

/*
&zephyr_udc0 {
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
 */

i2c_internal: &i2c2 {
    status = "okay";

    fusb: fusb302b@22 {
        compatible = "fcs,fusb302b";
        status = "okay";
        reg = <0x22>;
    };
};

&usart1 {
    current-speed = <921600>;
};

/ {
    soc {
        comp1: comp@4001001c {
            compatible = "st,stm32f0-comparator";
            status = "okay";
            reg = <0x4001001c 2>;

            pinctrl-0 = <&comp1_inp_pa1 &comp1_out_pa6>;
            pinctrl-names = "default";

            zephyr,input-noninverting = <COMP_NONINVERTINGINPUT_IO1>;
            zephyr,input-inverting = <COMP_INVERTINGINPUT_1_2VREFINT>;
        };

        comp2: comp@4001001e {
            compatible = "st,stm32f0-comparator";
            status = "okay";
            reg = <0x4001001e 2>;

            pinctrl-0 = <&comp2_inp_pa3 &comp2_out_pa2>;
            pinctrl-names = "default";

            zephyr,input-noninverting = <COMP_NONINVERTINGINPUT_IO1>;
            zephyr,input-inverting = <COMP_INVERTINGINPUT_1_2VREFINT>;
        };
    };

    chosen {
        zephyr,shell-uart = &usart1;
    };

    fvbus: fusb302b-vbus {
        compatible = "fcs,fusb302b-vbus";
        fusb302b = <&fusb>;
    };

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port1: usbc-port@1 {
            compatible = "usb-c-connector";
            reg = <1>;
            tcpc = <&fusb>;
            vbus = <&fvbus>;
            power-role = "sink";
            sink-pdos = <PDO_FIXED(9000, 100, 0)>;
        };
    };
};
